<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Alunos Cadastrados</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<main class="caixa">
		<h1>Alunos Cadastrados</h1>

		<table>
			<tr>
				<th>Nome</th>
				<th>Matricula</th>
			</tr>

			<tr th:each="aluno : ${alunos}">
				<td th:text="${aluno.nome}"></td>
				<td th:text="${aluno.matricula}"></td>
			</tr>
		</table>

		<a th:href="@{/alunos}">Cadastrar outro aluno</a>
	</main>
</body>
</html>
