<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cadastro de Alunos</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<main class="caixa">
		<h1>Cadastro de Alunos</h1>

		<form th:action="@{/alunos}" method="post">
			<label>Nome:</label>
			<input type="text" name="nome">

			<label>Matricula:</label>
			<input type="text" name="matricula">

			<button type="submit">Cadastrar</button>
		</form>
	</main>
</body>
</html>
